.main_div{
  min-height: 150vh;
  min-width: 90%;
  display: flex;
  justify-content: center;
  background-color: #073763;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}  
